.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 40px 10px;
  gap: 20px;
  position: relative;
}

.flex {
  display: flex;
  width: 100%;
  gap: 50px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  img {
    cursor: pointer;
    transform: translateX(-10px);
  }
}

.divider {
  width: 100%;
}

.alert {
  position: absolute;
  top: 10px;
  z-index: 50;
}
